@page
@model Blog_muzyczny.Pages.Admin.AddPostModel
@{
    ViewData["Title"] = "Dodaj wpis";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (User.IsInRole(Utility.SD.AdminEndUser))
{
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>


    <br />
    <br />


    <div>
        <form method="post">

            <div class="form-group row">
                <div class="col-2">
                    <span asp-validation-for="Post.Author" class="text-danger"></span>
                    <label asp-for="Post.Author"></label>
                </div>
                <div class="col-10">
                    <input asp-for="Post.Author" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <span asp-validation-for="Post.Title" class="text-danger"></span>
                    <label asp-for="Post.Title"></label>
                </div>
                <div class="col-10">
                    <input asp-for="Post.Title" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <span asp-validation-for="Post.Text" class="text-danger"></span>
                    <label asp-for="Post.Text"></label>
                </div>
                <div class="col-10">
                    <textarea asp-for="Post.Text" class="form-control" style="height: 350px"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-5 offset-2">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" class="btn btn-success form-control" value="Dodaj" />
                        </div>
                        <div class="col-6">
                            <a asp-page="Panel" class="btn btn-info form-control">Powrót</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>

    @section scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
}
else
{
    <div class="text-center">
        <h3>Ta strona jest przeznaczona dla użytkowników z uprawnieniami administratora.</h3>
        <br />
        <p><a asp-page="/Index" class="btn btn-info">Powrót na stronę główną</a></p>
    </div>
}
